@*@model Garage_2._0.Models.VehicleDetailViewModel*@
@model Garage_2._0.Models.Vehicle

@{
ViewData["Title"] = "Edit";
}

<h1>Redigera</h1>

<h4>@Model.RegNum</h4>
<hr />
<div>
    <div class="row">

        <div class="col-sm">

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="RegNum" />
                @*<input type="hidden" asp-for="ArrivalTime" />*@
                @*<input type="hidden" asp-for="VehicleType" />*@

                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <select asp-for="Color" asp-items="@Html.GetEnumSelectList<EnumColor>()" class="form-control">
                        <option selected="selected" value="">Välj Färg...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Wheels" class="control-label"></label>
                    <input asp-for="Wheels" class="form-control" />
                    <span asp-validation-for="Wheels" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Spara" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="GetOverviewModel">Tillbaka till översikt</a>
                </div>
            </form>
        </div>
        <div class="col-sm">
            @* Fungerar med model vehicle *@
            <div class="row">
                <div class="col-sm-4">
                    @Html.DisplayNameFor(model => model.VehicleType)
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.VehicleType)
                </div>
                <div class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.ArrivalTime)
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
