@model Garage_2._0.Models.VehicleDetailViewModel
@*@model Garage_2._0.Models.Vehicle*@

@{
    ViewData["Title"] = "Edit";
}

<h1>Redigera</h1>

<h4>Parkerat fordon @Model.RegNum</h4>
<hr />
<div>
    <div class="row">
        @*<div class="d-inline-block">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.VehicleType)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.VehicleType)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ArrivalTime)
            </div>
            </div>*@
            <div class="d-inline-block">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <partial name="InputFieldsPartial" model="@Model" />

                    <div class="form-group">
                        <input type="submit" value="Spara" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div>
                <a asp-action="Index">Tillbaka till översikt</a>
            </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
