@model IEnumerable<Garage_2._0.Models.VehicleOverviewModel>

@{
    ViewData["Title"] = "GetOverviewModel";
}

<h1>Garaget</h1>

<p>
    <a asp-action="Create">Parkera nytt fordon</a>
</p>
<form asp-action="SearchFilter">
    <div class="input-group">

        <input type="text" @*asp-for="RegNum"*@ class="form-control" placeholder="Sök fordon i Garaget...">

        <div class="input-group-append">
            <select @*asp-for="VehicleType" asp-items="@Html.GetEnumSelectList<EnumType>()"*@>
                <option class=" px-2" selected="selected" value="">Välj Fordon...</option>
            </select>
            <button type="submit" class="btn btn-outline-secondary px-4" type="button">
                <i class="fa fa-search">&emsp;Search</i>Sök
            </button>
        </div>
    </div>
</form>
    <table class="table my-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                        <a asp-action="GetDetailViewModel" asp-route-id="@item.Id">Detaljer</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Lämna Garage</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
