@model IEnumerable<Garage_2._0.Models.VehicleOverviewModel>

@{
    ViewData["Title"] = "GetOverviewModel";
}
<div class="row">
    <div class="col">
        <h1>Garaget</h1>

        <p>
            <a asp-action="Create"><i class="fas fa-parking mr-1"></i>Parkera nytt fordon </a>
        </p>
    </div>
    <div class="col">
        <form asp-action="SearchFilter">
            <div class="input-group">

                <input type="text" name="regNum" @*asp-for="RegNum"*@ class="form-control" placeholder="Sök fordon i Garaget...">

                <div class="input-group-append">
                    <select class=" px-2" name="vType" asp-items="@Html.GetEnumSelectList<EnumType>()">
                        <option selected="selected" value="">Välj Fordonstyp...</option>
                    </select>
                    <button type="submit" class="btn btn-outline-primary px-4 font-weight-bold">
                        Sök<i class="fas fa-search ml-2"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

    <table class="table my-3">
        <thead>
            <tr>
                <th >
                    <a onclick="Sort('type')">
                        
                        @Html.DisplayNameFor(model => model.VehicleType)<i id="type" class="fas ml-2"></i>
                    </a>
                </th>
                <th>
                    <a onclick="Sort('regNum')">
                        @Html.DisplayNameFor(model => model.RegNum)<i id="regNum" class="fas ml-2"></i>
                    </a>
                </th>
                <th>
                    <a onclick="Sort('time')">
                        @Html.DisplayNameFor(model => model.ArrivalTime)<i id="time" class="fas ml-2"></i>
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                        <a asp-action="GetDetailViewModel" asp-route-id="@item.Id">Detaljer</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Lämna Garage</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        function Sort(column) {
          
            $(".fas").removeClass("fa-sort-down");
            $("#" + column).toggleClass("fa-sort-down");
        }
        

    </script>