@model Garage_2._0.Models.VehicleOverviewModel

<div>
    <h2>Du har parkerat!</h2>

    <h5>@Model.RegNum har parkerats i garaget</h5>
    <h5>Tid: @Model.ArrivalTime</h5>
</div>
<div>
    <h4>Fordon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)

        </dd><dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wheels)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetOverviewModel">Tillbaka till översikt </a> | 
    <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Create"> Parkera fordon</a>
</div>