@model Garage_2._0.Models.StatsViewModel
@{
    ViewData["Title"] = "Statistics";
}
@*- antal fordon
- antal per typ (färg...)
- totalt antal hjul
- total intäkt av aktuella fordon
- Annat:
Vanligaste märke, färg...

*@

<h1><i class="fas fa-folder-open mr-2"></i>Statistik</h1>
<hr />
<div>
    <div class="row">
        <div class="col-sm">
            <dl class="row">
                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.TotalVehicles)</dt>
                <dd class="col-sm-2 text-right">@Html.DisplayFor(model => model.TotalVehicles)</dd>
                
                @foreach (var type in Model.AmountOfVehicleTypes)
                {
                    <dt class="col-sm-6">@type.Key</dt>
                    <dd class="col-sm-2 text-right">@type.Value</dd>
                }
            </dl>
        </div>
   

        <div class="col-sm">
            <dl class="row">
                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.TotalGeneratedIncome)</dt>
                <dd class="col-sm-4 text-right">@Html.DisplayFor(model => model.TotalGeneratedIncome)</dd>

                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.TotalWheels)</dt>
                <dd class="col-sm-4 text-right">@Html.DisplayFor(model => model.TotalWheels)</dd>

                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.MostCommonColor)</dt>
                <dd class="col-sm-4 text-right">@Html.DisplayFor(model => model.MostCommonColor)</dd>

                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.OldestParkTime)</dt>
                <dd class="col-sm-4 text-right">@Html.DisplayFor(model => model.OldestParkTime)</dd>
            </dl>
            <div>
                Senast Uppdaterat:
                <i>@DateTime.Now.ToString("HH:mm:ss dd MMMM yyyy")</i>
            </div>
        </div>
        
    </div>
</div>

<div>
    <a asp-action="GetOverviewModel">Tillbaka till översikt</a>
</div>
